<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="io.blesmol.launch.emf.provider.ui.EmfLauncherTabGroup"
            id="io.blesmol.launch.emf.provider.ui.tabgroup"
            type="io.blesmol.launch.emf.provider">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
